.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}

.input {
  width: 100%;
}

.button-update {
  margin-right: 10%;
  min-width: 30%;
}

.check-update {
  margin-right: 2%;
  min-width: 30%;
}

.img-car {
  margin-left: 50%;
}
